.pages-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);

  height: 75vh;
  max-width: 45vw;
  min-width: 35vw;
  overflow: hidden!important;
  border-radius: 2vh;

  background: #272727;
  box-shadow: .5vh .5vh .5vh rgba(19, 19, 19, 0.6), -.5vh -.5vh .5vh rgba(19, 19, 19, 0.3), rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.pages {
  height: 85%;
  width: 100%;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;

  padding-top: 10vh;
  padding-bottom: 10vh;
}

.pages a {
  height: 30vh;
  width: 50vh;

  font-weight: 999;

  margin: 1vh;
  padding: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  border-radius: 1vh;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.pages a iframe, .pages a img {
  height: 100%;
  width: 100%;
  border-radius: 1vh;
  border: none;
  margin: 0.5vh;
}